<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>


<%= link_to 'Edit', edit_topic_comment_path([@topic, @comment]) %> |
<%= link_to 'Back', topic_comments_path(@topic) %>
